/*  Defines the size of the box */

.selectContainer {
 position: relative;
 width: 100%;
}

/*  Defines the label appearance */

.label {
 margin-bottom: 8px;
 font-size: 14px;
}

/*  Defines the select box appearance */

.select {
 width: 100% !important;
 background: var(--white);
 border: 1px solid;
 border-color: var(--grey-light);
 height: 35px;
 padding: 3px 5px;
 display: flex;
 justify-content: space-around;
 align-items: center;
 border-radius: 10px;
}

/* Defines the width and style for placeholder */

.selectPlaceholder {
 width: 95% !important;
 padding: 5px;
 text-align: left;
 color: var(--grey);
 font-size: 12px;
 white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
}

/*  Defines the appearance of selected items  */

.selectPlaceholder ul {
 margin: 0;
 padding: 0;
 display: flex;
}

.selectPlaceholder li {
 padding: 5px;
 border-radius: 3px;
 background: var(--off-white);
 margin: 0 3px;
 list-style: none;
}

/*  Defines the appearance of action selectors  */

.selectClear {
 max-width: 25px !important;
 display: flex;
 align-items: center;
 justify-content: center;
 text-align: center;
}

.selectOpen {
 max-width: 25px !important;
 display: flex;
 align-items: center;
 justify-content: center;
 font-weight: 600;
}

.selectOpen svg,
.selectClear svg {
 fill: #333333;
 width: 20px;
}

/*  Defines the appearance of box options  */

.selectOptions {
 width: 100% !important;
 background: var(--white);
 border-radius: 0 0 10px 10px;
 max-height: 200px;
 overflow: scroll;
 padding: 7px 5px 0px 5px;
 position: absolute;
 top: 65px;
 z-index: 1;
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 justify-content: flex-start;
 overflow-x: hidden;
}
.selectOptions ul {
 width: 100% !important;
 margin: 0;
 padding: 0;
}

.selectOptions li {
 min-height: 40px;
 list-style: none;
 padding: 5px 0;
 color: grey;
 border-bottom: 0.5px solid;
 border-color: var(--off-white);
 font-size: 12px;
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: flex-start;
}
.selectOptions span {
 padding-left: 10px;
 max-width: 80%;
}
